/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* GENERICS */
body {
  background: midnightblue;
  color: white;
}

/* HEADER */
.page-discord {
  width: 100vw !important;
}

.group-chat {
  margin-top: 30px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.header-img {
  width: 100%;
}

.banner {
  text-align: center;
  border-radius: 20px;
}

.font-base {
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.base-button {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  width: 100%;
}

.bg-white {
  background-color: white;
}

.bg-violet {
  background-color: cornflowerblue;
}

.black-text {
  color: black;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}