/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* GENERICS */
body {
  background: midnightblue;
  color: white;
}

/* HEADER AND 1 BLOCK */
.page-discord {
  width: 100vw !important;
}

.group-chat {
  margin-top: 30px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.header-img {
  width: 100%;
}

.banner {
  text-align: center;
  border-radius: 20px;
}

.font-base {
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.base-button {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  width: 100%;
}

.bg-white {
  background-color: white;
}

.bg-violet {
  background-color: cornflowerblue;
}

.black-text {
  color: black;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CARD */
.card {
  background: #5865f2;
  color: white;
  width: 360px;
  padding: 32px;
  border-radius: 28px;
}

.card h2 {
  font-size: 28px;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.9;
  margin-bottom: 24px;
}

.card-image {
    border-radius: 20px;
    padding: 16px;
}

.card-image img {
  width: 100%;
  border-radius: 12px;
  display: block;
}
